.bannerImg {
 background: url('../img/Rectangle\ 2042.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
}

.imgText {
    position: relative;
    top: -60px;
}
.bannerImgCareer {
 background:  url('../img/image\ 17.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
}




.imgText {
    position: relative;
    top: -60px;
}