.bannerImg {
 background: url('../img/Rectangle\ 2042.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
}
.bannerImgServices {
 background: url('../img/image\ 19.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
}

.imgText {
    position: relative;
    top: -60px;
}
.bannerImgCareer {
 background:  url('../img/image\ banner.png');
 background-repeat: no-repeat;
 background-size: cover;
 background-size: 100% 100%;
 /* width: 100%; */
 height: 600px;
}




.imgText {
    position: relative;
    top: -60px;
}