table, th, td {
    border:1px solid black;
  }

th {
    text-align: center;
}

td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.popover {
    max-width: 30rem;
}

@media (max-width:800px) {
    .popover {
        max-width: 20rem;
    }
}

table img {
    width: 75px;
    height: 75px;
}

#i-card {
    width: 20px;
    height: 20px;
}

table {
    box-shadow: -8px -8px 16px rgba(47, 47, 47, 0.1), 8px 8px 16px rgba(47, 47, 47, 0.1);
}