.overlay {
    filter: brightness(0.50);
}


.l-side,
.r-side {
    flex: 1;
    flex-basis: 100%;
}


/* left side */


.l-side h1 {
    color: white;
    font-size: 4rem;
}

.l-side p {
    color: #575757;
}

.btn.get-started {
    background-color: #000685;
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    padding: 15px 50px;
    font-size: 15px;
}

.btn.learn-more {
    color: #000685;
    font-weight: bold;
    font-size: 15px;
    border: 4px solid #808080;
    border-radius: 10px;
    padding: 15px 50px;
}


/* Right side */

.r-side {
    text-align: center;
    /* vertical-align: middle; */
}




/* Services */

#services {
    margin-top: 50px;
}

.services-title {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
	.services-title img {
		height: 15%;
        width: 15%;
    	}
}


/* .services-title hr {
    height: 3px;
} */


/* Cards */

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 330px;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card:hover img {
    color: white;
    filter: invert(27%) saturate(2878%) sepia(100%) hue-rotate(346deg) brightness(537%) contrast(97%);
}

.card hr {
    height: 3px;
    width: 30%;
    color: #808080;
}

.card:hover hr {
    height: 3px;
    width: 30%;
    color: #ff6a00;
}

.card:hover {
    background-color: #000685;
    color: white;
}

.card-body p.desc :hover {
    color: #ffffff;
}


/* .card:nth-child(3) {
  background-color: #000685;
  color: white;
}
.card:nth-child(3) .card-body p.desc {
  color: white;
} */


/* Join us Section */


/* Footer */


/* Modal */

.modal-dialog {
    width: 85%;
    height: 90% !important;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    max-width: 100%;
}

.modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
}