.tab_button {
    border: none;
    background-color: white;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 8px 0px;
   
}
.tab_button:hover {
    border: none;
    background-color: #dedee4;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 8px 0px;
}
.tabs_content {
    display: none;
}
.tab_button_active {
    border: none;
    background-color: #dedee4;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 8px 0px;
}
.tab_content_active {
    display: block;
}