@import url("https://fonts.googleapis.com/css?family=Muli:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
html {
 scroll-padding-top:59px
}
@media (min-width: 1400px) {
 .container {
  max-width:1140px !important
 }
}
.row>* {
 position:relative
}
h1 {
 font-size:42px
}
h2 {
 font-size:18px
}
h3 {
 font-size:30px
}
h4 {
 font-size:24px
}
h5 {
 font-size:18px
}
h6 {
 font-size:14px
}
.bg-primary {
 background-color:#0062ff !important
}
.text-primary {
 color:#0062ff !important
}
a.text-primary:hover {
 color:#0058e6 !important
}
.bg-secondary {
 background-color:#5a6d90 !important
}
.text-secondary {
 color:#5a6d90 !important
}
a.text-secondary:hover {
 color:#506180 !important
}
.bg-success {
 background-color:#3dd598 !important
}
.text-success {
 color:#3dd598 !important
}
a.text-success:hover {
 color:#2ccc8c !important
}
.bg-warning {
 background-color:#ffc542 !important
}
.text-warning {
 color:#ffc542 !important
}
a.text-warning:hover {
 color:#ffbd29 !important
}
.bg-info {
 background-color:#50b5ff !important
}
.text-info {
 color:#50b5ff !important
}
a.text-info:hover {
 color:#37aaff !important
}
.bg-danger {
 background-color:#fc5a5a !important
}
.text-danger {
 color:#fc5a5a !important
}
a.text-danger:hover {
 color:#fc4141 !important
}
.bg-dark {
 background-color:#2f3c4e !important
}
.text-dark {
 color:#2f3c4e !important
}
a.text-dark:hover {
 color:#25303e !important
}
.bg-muted {
 background-color:#8492a6 !important
}
.text-muted {
 color:#8492a6 !important
}
a.text-muted:hover {
 color:#75859b !important
}
.bg-light {
 background-color:#fafafb !important
}
.text-light {
 color:#fafafb !important
}
a.text-light:hover {
 color:#ececf0 !important
}
.bg-custom {
 background-color:#f89d36 !important
}
.text-custom {
 color:#f89d36 !important
}
a.text-custom:hover {
 color:#f7911d !important
}
.list-inline-item:not(:last-child) {
 margin-right:0px;
 margin-bottom:0px
}
.shadow {
 box-shadow:0 0 3px rgba(47,60,78,0.15) !important
}
.rounded {
 border-radius:5px !important
}
.rounded-top {
 border-top-left-radius:5px !important;
 border-top-right-radius:5px !important
}
.rounded-left {
 border-top-left-radius:5px !important;
 border-bottom-left-radius:5px !important
}
.rounded-bottom {
 border-bottom-left-radius:5px !important;
 border-bottom-right-radius:5px !important
}
.rounded-right {
 border-top-right-radius:5px !important;
 border-bottom-right-radius:5px !important
}
.border {
 border:1px solid #e9ecef !important
}
.border-top {
 border-top:1px solid #e9ecef !important
}
.border-bottom {
 border-bottom:1px solid #e9ecef !important
}
.border-left {
 border-left:1px solid #e9ecef !important
}
.border-right {
 border-right:1px solid #e9ecef !important
}
.btn-primary {
 background-color:#0062ff !important;
 border:1px solid #0062ff !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(0,98,255,0.5)
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus {
 background-color:#004ecc !important;
 border-color:#004ecc !important;
 color:#fff !important
}
.btn-outline-primary {
 border:1px solid #0062ff;
 color:#0062ff;
 background-color:transparent
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
 background-color:#0062ff;
 border-color:#0062ff;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(0,98,255,0.5)
}
.btn-secondary {
 background-color:#5a6d90 !important;
 border:1px solid #5a6d90 !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(90,109,144,0.5)
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus {
 background-color:#465571 !important;
 border-color:#465571 !important;
 color:#fff !important
}
.btn-outline-secondary {
 border:1px solid #5a6d90;
 color:#5a6d90;
 background-color:transparent
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
 background-color:#5a6d90;
 border-color:#5a6d90;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(90,109,144,0.5)
}
.btn-success {
 background-color:#3dd598 !important;
 border:1px solid #3dd598 !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(61,213,152,0.5)
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus {
 background-color:#28b77e !important;
 border-color:#28b77e !important;
 color:#fff !important
}
.btn-outline-success {
 border:1px solid #3dd598;
 color:#3dd598;
 background-color:transparent
}
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.focus,
.btn-outline-success:not(:disabled):not(.disabled):active {
 background-color:#3dd598;
 border-color:#3dd598;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(61,213,152,0.5)
}
.btn-warning {
 background-color:#ffc542 !important;
 border:1px solid #ffc542 !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(255,197,66,0.5)
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus {
 background-color:#ffb50f !important;
 border-color:#ffb50f !important;
 color:#fff !important
}
.btn-outline-warning {
 border:1px solid #ffc542;
 color:#ffc542;
 background-color:transparent
}
.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.focus,
.btn-outline-warning:not(:disabled):not(.disabled):active {
 background-color:#ffc542;
 border-color:#ffc542;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(255,197,66,0.5)
}
.btn-info {
 background-color:#50b5ff !important;
 border:1px solid #50b5ff !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(80,181,255,0.5)
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus {
 background-color:#1d9fff !important;
 border-color:#1d9fff !important;
 color:#fff !important
}
.btn-outline-info {
 border:1px solid #50b5ff;
 color:#50b5ff;
 background-color:transparent
}
.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.focus,
.btn-outline-info:not(:disabled):not(.disabled):active {
 background-color:#50b5ff;
 border-color:#50b5ff;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(80,181,255,0.5)
}
.btn-danger {
 background-color:#fc5a5a !important;
 border:1px solid #fc5a5a !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(252,90,90,0.5)
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.focus {
 background-color:#fb2828 !important;
 border-color:#fb2828 !important;
 color:#fff !important
}
.btn-outline-danger {
 border:1px solid #fc5a5a;
 color:#fc5a5a;
 background-color:transparent
}
.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active {
 background-color:#fc5a5a;
 border-color:#fc5a5a;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(252,90,90,0.5)
}
.btn-dark {
 background-color:#2f3c4e !important;
 border:1px solid #2f3c4e !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(47,60,78,0.5)
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus {
 background-color:#1c242e !important;
 border-color:#1c242e !important;
 color:#fff !important
}
.btn-outline-dark {
 border:1px solid #2f3c4e;
 color:#2f3c4e;
 background-color:transparent
}
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active {
 background-color:#2f3c4e;
 border-color:#2f3c4e;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(47,60,78,0.5)
}
.btn-muted {
 background-color:#8492a6 !important;
 border:1px solid #8492a6 !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(132,146,166,0.5)
}
.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.active,
.btn-muted.focus {
 background-color:#68788f !important;
 border-color:#68788f !important;
 color:#fff !important
}
.btn-outline-muted {
 border:1px solid #8492a6;
 color:#8492a6;
 background-color:transparent
}
.btn-outline-muted:hover,
.btn-outline-muted:focus,
.btn-outline-muted:active,
.btn-outline-muted.active,
.btn-outline-muted.focus,
.btn-outline-muted:not(:disabled):not(.disabled):active {
 background-color:#8492a6;
 border-color:#8492a6;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(132,146,166,0.5)
}
.btn-light {
 background-color:#fafafb !important;
 border:1px solid #fafafb !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(250,250,251,0.5)
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.focus {
 background-color:#dedee4 !important;
 border-color:#dedee4 !important;
 color:#fff !important
}
.btn-outline-light {
 border:1px solid #fafafb;
 color:#fafafb;
 background-color:transparent
}
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active {
 background-color:#fafafb;
 border-color:#fafafb;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(250,250,251,0.5)
}
.btn-custom {
 background-color:#f89d36 !important;
 border:1px solid #f89d36 !important;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(248,157,54,0.5)
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus {
 background-color:#f38508 !important;
 border-color:#f38508 !important;
 color:#fff !important
}
.btn-outline-custom {
 border:1px solid #f89d36;
 color:#f89d36;
 background-color:transparent
}
.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:not(:disabled):not(.disabled):active {
 background-color:#f89d36;
 border-color:#f89d36;
 color:#fff !important;
 box-shadow:0 3px 7px rgba(248,157,54,0.5)
}
.btn {
 outline:none;
 text-decoration:none;
 font-size:16px;
 letter-spacing:0.5px;
 transition:all 0.3s;
 font-weight:600;
 border-radius:5px
}
.btn:focus {
 box-shadow:none !important
}
.btn.btn-sm {
 padding:7px 16px;
 font-size:10px
}
.btn.btn-lg {
 padding:14px 30px;
 font-size:16px
}
.btn.searchbtn {
 padding:6px 20px
}
.btn.btn-pill {
 border-radius:30px
}
.btn.btn-light {
 color:#2f3c4e !important;
 background:#fafafb;
 border:1px solid #dee2e6
}
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active,
.btn.btn-light.focus {
 background-color:#dedee4 !important;
 color:#2f3c4e
}
.btn.btn-outline-light {
 border:1px solid #dee2e6;
 color:#2f3c4e !important;
 background-color:transparent
}
.btn.btn-outline-light:hover,
.btn.btn-outline-light:focus,
.btn.btn-outline-light:active,
.btn.btn-outline-light.active,
.btn.btn-outline-light.focus {
 background-color:#fafafb
}
button:not(:disabled) {
 outline:none
}
.spinner-grow {
 width:14px;
 height:14px;
 animation:spinner-grow 1s linear infinite
}
.skills.skill-data {
 width:130px;
 height:130px
}
.skills.skill-data canvas {
 position:absolute;
 top:0;
 left:0;
 width:130px;
 height:130px
}
.skills .pie-chart-value {
 line-height:130px;
 font-size:24px
}
.subscribe-form input {
 padding:12.5px 20px;
 width:100%;
 color:#2f3c4e !important;
 border:none;
 outline:none !important;
 padding-right:130px;
 background-color:rgba(255,255,255,0.7)
}
.subscribe-form .btn {
 padding:8.5px 20px !important
}
.subscribe-form button {
 position:absolute;
 top:5px;
 right:5px;
 outline:none !important
}
.progress-box .progress {
 height:10px;
 overflow:visible
}
.progress-box .progress .progress-bar {
 border-radius:6px;
 animation:animate-positive 3s;
 overflow:visible !important
}
.progress-box .progress .progress-value {
 position:absolute;
 top:-40px;
 right:-18px;
 border:2px solid #f89d36;
 padding:3px;
 border-radius:3px;
 font-size:13px
}
.progress-box .progress .progress-value:after {
 content:"";
 position:absolute;
 bottom:-8px;
 right:9px;
 border-top:7px solid #f89d36;
 border-left:7px solid transparent;
 border-right:7px solid transparent
}
@keyframes animate-positive {
 0% {
  width:0
 }
}
.nav-pills .nav-link {
 color:#2f3c4e !important;
 border:1px solid #e9ecef
}
.nav-pills .nav-link .active {
 background-color:#f89e3600;
 color:#fff !important;
 box-shadow:0 0 3px rgba(47,60,78,0.15)
}

.nav-pills .nav-link.active{
    color: #fff;
    background-color: #fff;
  }

.nav-pills .nav-link:hover img {
    /* background-color:#f89d36; */
    background-color:#f89e3600;



    filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(5539%) hue-rotate(350deg) brightness(112%) contrast(110%);

    
   }

   .nav-pills .nav-link:focus img {
    background-color:#f89e3600;

    /* background-color:#f89d36; */


    filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(5539%) hue-rotate(350deg) brightness(112%) contrast(110%);

    
   }

   .nav-pills .nav-link :target img {
    background-color:#f89e3600;

    /* background-color:#f89d36; */


    filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(5539%) hue-rotate(350deg) brightness(112%) contrast(110%);

    
   }





.nav-pills a .screenshot .title {
 font-size:18px
}
.avatar.avatar-ex-sm {
 max-height:25px
}
.avatar.avatar-md-sm {
 height:45px;
 width:45px
}
.avatar.avatar-small {
 height:60px;
 width:60px
}
.avatar.avatar-medium {
 height:110px;
 width:110px
}
.avatar.avatar-large {
 height:140px;
 width:140px
}
.avatar.avatar-ex-large {
 height:180px;
 width:180px
}
#preloader {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-image:linear-gradient(45deg, #fff, #fff);
 z-index:9999999
}
#preloader #status {
 position:absolute;
 left:0;
 right:0;
 top:50%;
 transform:translateY(-50%)
}
#preloader #status .spinner {
 margin:100px auto;
 width:40px;
 height:20px;
 text-align:center;
 font-size:6px
}
#preloader #status .spinner>div {
 background-color:#f89d36;
 height:100%;
 width:6px;
 display:inline-block;
 animation:sk-stretchdelay 1.2s infinite ease-in-out
}
#preloader #status .spinner .rect2 {
 animation-delay:-1.1s
}
#preloader #status .spinner .rect3 {
 animation-delay:-1.0s
}
#preloader #status .spinner .rect4 {
 animation-delay:-0.9s
}
#preloader #status .spinner .rect5 {
 animation-delay:-0.8s
}
@keyframes sk-stretchdelay {
 0%,
 40%,
 100% {
  transform:scaleY(0.4)
 }
 20% {
  transform:scaleY(1)
 }
}
.social-icon li a {
 color:#2f3c4e;
 display:inline-block;
 height:34px;
 width:34px;
 text-align:center;
 transition:all 0.4s ease;
 border-radius:50px;
 overflow:hidden;
 position:relative
}
.social-icon li a i {
 font-size:16px;
 line-height:34px
}
.social-icon li a:hover {
 background-color:#f89d36;
 color:#fff !important;
 box-shadow:0 0 3px rgba(47,60,78,0.15)
}
.social-icon.social li a {
 color:#adb5bd
}
.list-inline-item:not(:last-child) {
 margin-right:3px
}
.back-to-top {
 position:fixed;
 bottom:30px;
 right:30px;
 z-index:99;
 width:33px;
 height:33px;
 line-height:31px;
 display:none;
 color:#2f3c4e;
 background-color:#dee2e6;
 transition:all 0.5s ease
}
.back-to-top i {
 font-size:16px
}
.back-to-top:hover {
 background-color:#f89d36;
 border-color:#f89d36 !important;
 color:#fff
}
.custom-control-input:checked ~ .custom-control-label:before {
 color:#fff;
 border-color:#f89d36;
 background-color:#f89d36
}
.custom-control-input:focus ~ .custom-control-label::before,
.form-control:focus {
 box-shadow:none;
 border-color:#f89d36
}
.custom-control-label {
 cursor:pointer
}
.custom-control-label:before,
.custom-control-label:after {
 top:2px
}
.counter-box .counter-head {
 letter-spacing:1px
}
body {
 font-family:"Muli",sans-serif;
 overflow-x:hidden !important;
 font-size:15px;
 color:#2f3c4e
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 font-family:"Muli",sans-serif;
 line-height:1.5;
 font-weight:600
}
::selection {
 background:#6c757d;
 color:#fff
}
a {
 text-decoration:none !important
}
p {
 letter-spacing:0.3px;
 line-height:1.8;
 
}
.section {
 padding-top:100px;
 padding-bottom:100px;
 position:relative
}
.section-two {
 padding:60px 0;
 position:relative
}
.bg-overlay {
 background-color:rgba(47,60,78,0.65);
 position:absolute;
 top:0;
 right:0;
 left:0;
 bottom:0;
 width:100%;
 height:100%
}
.bg-overlay-white {
 background-color:rgba(255,255,255,0.8)
}
.bg-over-image {
 background-color:rgba(47,60,78,0.5) !important;
 background-image:url("../images/overlay.png");
 background-repeat:repeat
}
.bg-gradient-overlay {
 background:linear-gradient(135deg, #0062ff, #f89d36);
 opacity:0.95
}
.title-heading {
 line-height:26px
}
.title-heading .heading {
 font-size:45px !important;
 letter-spacing:1px
}
.title-heading .para-desc {
 font-size:18px
}
.mt-100 {
 margin-top:100px
}
.section-title {
 position:relative
}
.section-title .title {
 letter-spacing:0.5px;
 font-size:26px !important
}
.para-desc {
 max-width:600px
}
@media (max-width: 768px) {
 .mt-60 {
  margin-top:60px
 }
}
@media (min-width: 768px) {
 .section-two.section-spacing {
  padding-bottom:120px
 }
 .margin-top-150 {
  margin-top:150px
 }
 .margin-top-150 .heading {
  font-size:40px
 }
}
@media (max-width: 767px) {
 .section {
  padding:60px 0
 }
 .title-heading .heading {
  font-size:30px !important
 }
}
@media (max-width: 375px) {
 .section-title .title:after {
  bottom:-30%
 }
}
.navbar-custom {
 background-color:transparent;
 padding:20px 0;
 width:100%;
 border-radius:0px;
 z-index:999;
 margin-bottom:0px;
 transition:all 0.5s ease-in-out
}
.navbar-custom .navbar-toggler {
 color:#2f3c4e;
 font-size:30px;
 padding:0px;
 border:0
}
.navbar-custom .navbar-toggler:focus {
 border:none;
 outline:none;
 box-shadow:none
}
.navbar-custom .navbar-toggler.toggler-dark {
 color:#2f3c4e !important
}
.navbar-custom .navbar-brand {
 color:#fff !important;
 text-transform:uppercase;
 letter-spacing:.5px;
 font-family:"Muli",sans-serif
}
.navbar-custom .navbar-brand .l-dark {
 display:none
}
.navbar-custom .navbar-brand .l-light {
 display:inline-block
}
.navbar-custom .navbar-nav li a {
 color:#fff !important;
 font-size:14px;
 background-color:transparent !important;
 margin:0 8px;
 letter-spacing:0.8px;
 line-height:24px;
 font-weight:600;
 transition:all 0.5s;
 font-family:"Muli",sans-serif
}
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a.active {
 color:#f89d36 !important
}
.navbar-custom .navbar-nav .nav-item:last-child .nav-link {
 margin-right:0;
 padding-right:0
}
.navbar-custom .navbar-nav.menu-dark li a {
 color:#2f3c4e !important
}
.navbar-custom .navbar-nav.menu-dark li a:hover,
.navbar-custom .navbar-nav.menu-dark li a:active {
 color:#f89d36 !important
}
.navbar-custom .navbar-nav.menu-dark li.active a {
 color:#f89d36 !important
}
.navbar-custom .login-button {
 color:#fff;
 background-color:#f89d36;
 text-transform:uppercase;
 font-size:13px;
 transition:all 0.5s;
 border-radius:0px;
 padding:10px 30px;
 line-height:60px;
 border-radius:3px;
 letter-spacing:0.8px
}
.navbar-custom .login-button:hover {
 color:#fff
}
.navbar-custom.boxed-home {
 max-width:1170px;
 margin:0 auto
}
.nav-sticky.navbar-custom {
 margin-top:0px;
 padding:12px 0px;
 background-color:#fff;
 box-shadow:0 10px 33px rgba(0,0,0,0.1);
 color:#2f3c4e !important
}
.nav-sticky.navbar-custom .navbar-toggler {
 color:#2f3c4e
}
.nav-sticky.navbar-custom .navbar-nav {
 margin-top:0px
}
.nav-sticky.navbar-custom .navbar-nav li a {
 color:#2f3c4e !important
}
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active,
.nav-sticky.navbar-custom .navbar-nav li a.active {
 color:#f89d36 !important
}
.nav-sticky.navbar-custom.sticky-light {
 background-color:#fff
}
.nav-sticky .navbar-brand {
 color:#2f3c4e !important
}
.nav-sticky .navbar-brand .l-dark {
 display:inline-block
}
.nav-sticky .navbar-brand .l-light {
 display:none
}
@media (max-width: 1023px) {
 .navbar-custom .nav-social {
  display:none
 }
}
@media (max-height: 480px) {
 .navbar-nav {
  max-height:300px;
  /* overflow-y:auto */
 }
}
@media (min-width: 200px) and (max-width: 768px) {
 .navbar-custom {
  background-color:#fff;
  padding:10px 0px !important
 }
 .navbar-custom .login-button {
  margin-left:5px !important
 }
 .navbar-custom .navbar-nav li a {
  color:#2f3c4e !important
 }
 .navbar-brand .l-dark {
  display:inline-block !important
 }
 .navbar-brand .l-light {
  display:none !important
 }
}
.bg-home {
 height:100vh;
 background-size:cover;
 align-self:center;
 position:relative;
 background-position:center center
}
.bg-home .home-dashboard img {
 position:relative;
 top:80px;
 z-index:1
}
.main-slider .slides .bg-slider {
 background-size:cover;
 height:100vh;
 position:relative;
 background-size:cover;
 align-self:center;
 position:relative;
 background-position:center center
}
.flex-control-nav {
 display:none
}
.bg-half-170 {
 padding:170px 0;
 background-size:cover;
 align-self:center;
 position:relative;
 background-position:center center
}
.bg-half-260 {
 padding:260px 0;
 background-size:cover;
 align-self:center;
 position:relative;
 background-position:center center
}
#sThemes-layout .sThemesbox {
 background:#fff;
 box-shadow:0 0 3px rgba(47,60,78,0.15);
 max-width:1170px;
 margin:0 auto
}
.swiper-slider-interior {
 height:100vh
}
.swiper-slider-interior .swiper-container {
 width:100%;
 height:100%;
 position:absolute;
 left:0;
 top:0
}
.swiper-slider-interior .swiper-container .swiper-slide .slide-inner {
 width:100%;
 height:100%;
 position:absolute;
 left:0;
 top:0;
 z-index:1;
 background-size:cover;
 background-position:center;
 display:flex;
 align-items:center;
 text-align:left
}
.swiper-slider-interior .swiper-container .swiper-button-prev,
.swiper-slider-interior .swiper-container .swiper-button-next {
 background:transparent;
 width:35px;
 height:35px;
 line-height:35px;
 margin-top:-30px;
 text-align:center;
 transition:all 0.3s
}
.swiper-slider-interior .swiper-container .swiper-button-prev:before,
.swiper-slider-interior .swiper-container .swiper-button-next:before {
 font-family:"Material Design Icons";
 font-weight:900;
 color:#fff
}
.swiper-slider-interior .swiper-container .swiper-button-prev:hover,
.swiper-slider-interior .swiper-container .swiper-button-next:hover {
 background:#f89d36
}
.swiper-slider-interior .swiper-container .swiper-button-prev {
 left:25px
}
.swiper-slider-interior .swiper-container .swiper-button-prev:before {
 content:"\f141"
}
.swiper-slider-interior .swiper-container .swiper-button-next {
 right:25px
}
.swiper-slider-interior .swiper-container .swiper-button-next:before {
 content:"\f142"
}
.swiper-slider-interior .swiper-pagination-bullet {
 font-size:15px;
 color:#dee2e6;
 margin:0 5px;
 opacity:1;
 background:transparent;
 position:relative
}
.swiper-slider-interior .swiper-pagination-bullet:before {
 content:"";
 background:#fff;
 width:1px;
 height:15px;
 position:absolute;
 left:3px;
 top:0;
 opacity:0;
 transition:all 0.3s
}
.swiper-slider-interior .swiper-pagination-bullet-active {
 color:#fff
}
.swiper-slider-interior .swiper-pagination-bullet-active:before {
 opacity:1;
 top:-20px
}
.swiper-slider-interior .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-slider-interior .swiper-pagination-custom,
.swiper-slider-interior .swiper-pagination-fraction {
 bottom:45px
}
.swiper-slider-interior .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
 margin:0 13px
}
.home-slider .carousel-control-next,
.home-slider .carousel-control-prev {
 width:30px;
 height:30px;
 top:50%;
 transform:translateY(-50%);
 border-radius:30px;
 border:1px solid #ced4da
}
.home-slider .carousel-control-next-icon,
.home-slider .carousel-control-prev-icon {
 width:30%
}
@media (max-width: 1200px) {
 .sThemesbox {
  width:100%;
  overflow:hidden
 }
}
@media (max-width: 991px) {
 .swiper-slider-interior {
  height:600px
 }
 .swiper-slider-interior .swiper-button-prev,
 .swiper-slider-interior .swiper-button-next {
  display:none
 }
}
@media (min-width: 200px) and (max-width: 767px) {
 .bg-home,
 .main-slider .slides .bg-slider,
 .swiper-slider-interior .swiper-container .swiper-slide,
 .jarallax,
 .bg-half-170,
 .bg-half-260 {
  padding:150px 0;
  height:auto
 }
 .home-img {
  text-align:center
 }
}
.filter-box {
 display:none
}
.filter-box.show {
 display:block
}
.tobii-zoom {
 display:block !important
}
.tobii-zoom__icon {
 display:none
}
.container-filter li {
 font-size:14px;
 letter-spacing:1px;
 cursor:pointer;
 line-height:30px;
 transition:all 0.5s ease
}
.container-filter li:hover,
.container-filter li.active {
 color:#fff !important;
 background-color:#f89d36;
 border-color:#f89d36 !important
}
.portfolio-box .work-img .overlay-work {
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 opacity:0;
 transition:all 0.9s ease;
 transform:scale(1);
 background-color:rgba(0,0,0,0.8);
 z-index:1;
 border:20px solid #ced4da
}
.portfolio-box .work-img .overlay-work .icon {
 position:absolute;
 bottom:50%;
 transform:translateY(0%);
 transition:all 0.5s ease;
 right:0;
 left:0
}
.portfolio-box .work-img .overlay-work .icon i {
 width:40px;
 height:40px;
 line-height:40px;
 font-size:20px;
 margin:0 auto;
 display:inline-block
}
.portfolio-box .work-img .overlay-work .icon i:hover {
 color:#f89d36 !important;
 background:#fff
}
.portfolio-box .work-img .overlay-work .work-content {
 position:absolute;
 bottom:5%;
 left:5%;
 transform:translateY(100px);
 transition:all 0.5s ease
}
.portfolio-box .work-img .overlay-work .work-content .title a {
 font-size:18px
}
.portfolio-box .work-img .overlay-work .work-content .title:hover a {
 color:#f89d36 !important
}
.portfolio-box:hover .work-img.main-box {
 transform:translateY(-105px)
}
.portfolio-box:hover .overlay-work {
 opacity:1;
 transform:translateY(0px)
}
.portfolio-box:hover .overlay-work .icon {
 transform:translateY(50%)
}
.portfolio-box:hover .overlay-work .work-content {
 transform:translateY(0px)
}
.causes-container .content a {
 transition:all 0.5s ease
}
.causes-container .content a:hover {
 color:#f89d36 !important
}
.cta-full .container-fluid {
 max-width:100%
}
.cta-full .container-fluid .padding-less.img {
 background:scroll center no-repeat;
 background-size:cover;
 position:absolute;
 height:100%
}
.cta-full .cta-full-img-box {
 padding:100px 10%
}
.cta-full .cta-full-head {
 font-size:22px;
 letter-spacing:0.8px
}
.watch-video a {
 font-size:14px;
 letter-spacing:1px
}
.watch-video a .play-icon-circle {
 height:50px;
 width:50px;
 background-color:#f89d36;
 line-height:50px
}
.watch-video a .play-icon-circle.play-iconbar {
 font-size:17px
}
.watch-video a .play-icon-circle.play {
 top:77%
}
.play-icon {
 position:absolute;
 bottom:50%;
 transform:translateY(50%);
 right:0;
 left:0;
 text-align:center
}
.play-icon i {
 height:85px;
 width:85px;
 line-height:85px;
 -webkit-text-stroke:2px #0062ff;
 -webkit-text-fill-color:transparent;
 display:inline-block
}
.play-icon i:hover {
 -webkit-text-stroke:2px #0062ff;
 -webkit-text-fill-color:#0062ff
}
@media (max-width: 1024px) {
 .cta-full .cta-full-img-box {
  padding:100px 10px !important
 }
}
@media (max-width: 991px) {
 .cta-full .padding-less {
  position:relative !important;
  height:300px !important
 }
 .cta-full .cta-full-content {
  text-align:left !important
 }
}
@media (max-width: 768px) {
 .cta-full .cta-full-img-box {
  padding:60px 0%
 }
}
@media (max-width: 767px) {
 .contact-cta,
 .contact-cta-button {
  text-align:center !important
 }
}
.team-concept .team-image .team-overlay {
 position:absolute;
 right:0;
 left:0;
 bottom:0;
 opacity:0;
 transition:all 0.5s ease;
 padding:8px 0 4px
}
.team-concept .content .name {
 font-size:17px;
 font-weight:500;
 transition:all 0.5s ease
}
.team-concept:hover .team-image .team-overlay {
 opacity:0.9
}
.client-review .review-para {
 font-size:16px
}
.client-review .big-icon {
 position:absolute;
 font-size:160px;
 bottom:0;
 right:0;
 opacity:0.04;
 z-index:-1
}
.tns-nav {
 text-align:center;
 margin-top:10px
}
.tns-nav button {
 padding:4px;
 opacity:1;
 margin:3px;
 border-radius:10px;
 background:transparent !important;
 transition:all 0.5s ease;
 border:2px solid rgba(248,157,54,0.3)
}
.tns-nav button.tns-nav-active {
 background:#f89d36 !important;
 border-color:#f89d36
}
.features {
 position:relative;
 z-index:2;
 margin:-160px 0 0
}
.features.features-two {
 margin:-220px 0 0
}
.features .title {
 letter-spacing:1px
}
.features a:hover {
 color:#f89d36 !important
}
.feature-margin {
 margin-top:100px
}
.features-box .title-icon {
 font-size:25px;
 height:60px;
 width:60px;
 line-height:60px;
 background:#f8f9fa
}
.features-box .title {
 font-size:18px
}
.features-box ul li {
 position:relative;
 padding:10px 0
}
.service-container {
 transition:all 0.5s ease
}
.service-container .icon {
 margin-top:5%;
 font-size:38px;
 transition:all 0.5s ease
}
.service-container .number-icon .icon-2 {
 height:70px;
 width:70px;
 line-height:70px;
 border-radius:64% 36% 55% 45% / 76% 72% 28% 24% !important;
 border-color:#f89d36 !important;
 transition:all 0.5s ease
}
.service-container .number-icon .icon-2 i {
 font-size:30px
}
.service-container .number-icon .number {
 position:absolute;
 top:0;
 right:70px;
 left:0;
 height:35px;
 width:35px;
 margin:0 auto;
 transition:all 0.5s ease
}
.service-container .number-icon .number span {
 line-height:30px
}
.service-container .content .number {
 font-size:40px;
 color:#dee2e6
}
.service-container .content .title {
 transition:all 0.5s ease
}
.service-container.hover-bg {
 transition:all 0.5s ease
}
.service-container.hover-bg .smooth-icon {
 position:absolute;
 bottom:-40px;
 right:-20px;
 font-size:60px;
 color:#f8f9fa;
 transition:all 0.8s ease
}
.service-container.hover-bg:hover {
 background-color:#f89d36
}
.service-container.hover-bg:hover .content .title {
 color:#fff !important
}
.service-container.hover-bg:hover .content .serv-pera {
 color:#fafafb !important
}
.service-container.hover-bg:hover .smooth-icon {
 font-size:100px;
 opacity:0.2;
 bottom:-20px;
 right:10px
}
.service-container:hover {
 background-color:#fff;
 box-shadow:0 10px 25px rgba(47,60,78,0.15) !important
}
.service-container:hover .icon {
 color:#f89d36;
 animation:mover 1s infinite alternate
}
.service-container:hover .number-icon .icon-2 {
 background-color:#f89d36;
 border-radius:50% !important
}
.service-container:hover .number-icon .icon-2 i {
 color:#fff !important
}
.service-container:hover .number-icon .number {
 color:#fff;
 background:#f89d36 !important;
 border-color:#fff !important
}
.service-container:hover .content .title {
 color:#f89d36
}
.service-container a:hover,
.service-container a .title:hover {
 color:#f89d36 !important
}
@keyframes mover {
 0% {
  transform:translateY(0)
 }
 100% {
  transform:translateY(-15px)
 }
}
.service-wrapper {
 transition:all 0.5s ease
}
.service-wrapper .icon {
 width:60px;
 height:60px;
 line-height:45px;
 transition:all 0.5s ease
}
.service-wrapper .content .title {
 transition:all 0.5s ease;
 font-weight:500
}
.service-wrapper .big-icon {
 position:absolute;
 right:0;
 bottom:0;
 opacity:0.05;
 transition:all 0.5s ease
}
.service-wrapper:hover {
 box-shadow:0 10px 25px rgba(47,60,78,0.15) !important;
 background:#fff;
 transform:translateY(-8px);
 border-color:transparent !important
}
.service-wrapper:hover .icon {
 background:#0062ff !important;
 color:#fff !important
}
.service-wrapper:hover .big-icon {
 z-index:-1;
 opacity:0.1;
 font-size:160px
}
@media screen and (max-width: 767px) {
 .features.features-two {
  margin:0 0 30px
 }
 .features.feature-charity {
  margin:0 0 30px
 }
 .feature-margin {
  margin-top:60px
 }
}
.pricing-table {
 overflow:hidden;
 position:relative
}
.pricing-table .pricing-features ul li {
 position:relative;
 padding:10px 0
}
.pricing-table .price-value .price-lable .rates {
 display:inline-block;
 font-size:32px
}
.pricing-table .lable {
 width:200px;
 position:absolute;
 top:20px;
 right:-60px;
 transform:rotate(45deg);
 z-index:1
}
.pricing-table .lable h6 {
 font-size:12px
}
.blog-post .content .title {
 transition:all 0.5s ease
}
.blog-post .content .title:hover {
 color:#f89d36 !important
}
.blog-post .content a {
 transition:all 0.5s ease
}
.blog-post .content a:hover {
 color:#f89d36 !important
}
.form-control {
 box-shadow:none;
 border:1px solid #dee2e6;
 height:40px;
 font-size:13px;
 border-radius:3px;
 transition:all 0.5s ease;
 padding:6px 12px !important
}
.form-control:focus,
.form-control.active {
 border-color:#f89d36
}
textarea {
 height:120px !important
}
textarea.form-control {
 line-height:25px
}
.map {
 line-height:0
}
.map iframe {
 width:100%;
 height:450px
}
.error {
 margin:8px 0px;
 display:none;
 color:#fc5a5a
}
#ajaxsuccess {
 font-size:16px;
 width:100%;
 display:none;
 clear:both;
 margin:8px 0px
}
.error_message,
#success_page {
 padding:10px;
 margin-bottom:20px;
 text-align:center;
 border-radius:5px
}
.error_message {
 background-color:rgba(252,90,90,0.1) !important;
 border:2px solid rgba(252,90,90,0.1) !important;
 color:#fc5a5a !important;
 font-size:14px
}
.contact-loader {
 display:none
}
#success_page {
 background-color:rgba(61,213,152,0.1) !important;
 border:2px solid rgba(61,213,152,0.1) !important;
 color:#3dd598 !important
}
#success_page p {
 margin-bottom:0 !important
}
.subscribe .form-control {
 background-color:transparent;
 height:40px;
 color:#fafafb;
 font-size:14px
}
.subscribe .form-control::placeholder {
 color:#fafafb
}
.subscribe .form-control:focus {
 box-shadow:none;
 border-color:#f89d36
}
.footer {
 position:relative
}
.footer .footer-head {
 font-size:16px;
 letter-spacing:1px;
 font-weight:500
}
.footer .text-foot {
 color:#adb5bd
}
.footer .footer-list {
 margin-bottom:0
}
.footer .footer-list li {
 margin-bottom:10px
}
.footer .footer-list li a:hover {
 color:#f89d36
}
.footer .footer-list li:last-child {
 margin-bottom:0
}
.footer .footer-list.contact-foot i {
 font-size:16px
}
.footer .footer-recent .footer-recent-thumb {
 width:25%
}
.footer .footer-recent .footer-recent-content {
 width:75%;
 padding-left:10px
}
.footer .footer-recent .footer-recent-content a {
 color:#adb5bd;
 transition:all 0.5s ease
}
.footer .footer-recent .footer-recent-content a:hover {
 color:#f89d36
}
.footer-bar {
 border-top:1px solid #495057
}
.restaurant-wraper {
 font-family:"Libre Baskerville",serif !important
}
.restaurant-wraper h1,
.restaurant-wraper h2,
.restaurant-wraper h3,
.restaurant-wraper h4,
.restaurant-wraper h5,
.restaurant-wraper h6,
.restaurant-wraper .navbar-custom .navbar-nav li a {
 font-family:"Libre Baskerville",serif
}
.restaurant-wraper .navbar-custom .navbar-nav li a {
 letter-spacing:2px;
 font-size:12px
}
.restaurant-wraper .title-heading .heading {
 font-size:55px !important
}
.restaurant-wraper .section-title .title {
 font-size:22px !important
}
.restaurant-wraper .about-resto {
 font-size:18px
}
.restaurant-wraper .portfolio-box .thumb img {
 width:80px
}
.restaurant-wraper .portfolio-box .menu-content .title {
 font-size:17px
}
.restaurant-wraper .portfolio-box .menu-content .title a {
 transition:all 0.5s ease
}
.restaurant-wraper .portfolio-box .menu-content .title a:hover {
 color:#f89d36 !important
}
.restaurant-wraper .portfolio-box .menu-content .title span {
 transition:all 0.5s ease
}
.restaurant-wraper .resto-service img {
 height:75px
}
.restaurant-wraper .resto-service .content .title {
 font-size:18px
}
.restaurant-wraper .resto-service .content p {
 font-size:14px
}
@media (max-width: 767px) {
 .restaurant-wraper .title-heading .heading {
  font-size:40px !important
 }
}
@media (max-width: 425px) {
 .portfolio-box .menu-content .title {
  font-size:13px !important
 }
}
#style-switcher {
 transition:all 0.4s;
 background:none repeat scroll 0 0 #fff;
 box-shadow:0 0 3px rgba(47,60,78,0.15);
 left:-189px;
 position:fixed;
 top:17%;
 width:189px;
 z-index:9999;
 padding:10px 5px
}
#style-switcher div {
 padding:5px 10px
}
#style-switcher div h3 {
 color:#2f3c4e;
 font-size:16px;
 margin:0 3px 12px
}
#style-switcher .bottom a.settings {
 background:none repeat scroll 0 0 #fff;
 height:41px;
 position:absolute;
 right:-41px;
 top:0px;
 width:40px;
 padding:3px;
 border-radius:0 30px 30px 0
}
ul.pattern {
 list-style:none outside none;
 overflow:hidden;
 padding:0;
 border-radius:0px
}
ul.pattern li.list-inline-item:not(:last-child) {
 margin-right:0px;
 margin-bottom:0
}
ul.pattern li a {
 cursor:pointer;
 display:block;
 height:35px;
 width:35px;
 border-radius:50%;
 margin:3px
}
ul.pattern .color1 {
 background-color:#f89d36
}
ul.pattern .color2 {
 background-color:#0062ff
}
ul.pattern .color3 {
 background-color:#3dd598
}
ul.pattern .color4 {
 background-color:#fc5a5a
}
ul .t-dark,
ul .t-rtl-light {
 display:inline-block
}
ul .t-ltr-light,
ul .t-light,
ul .t-rtl-dark,
ul .t-ltr-dark {
 display:none
}
@media only screen and (max-width: 375px) {
 #style-switcher {
  display:none
 }
}
