#section1 {
    border-radius: 20px;
    /* box-shadow: -8px -8px 16px rgba(0, 100, 239, 0.1), 8px 8px 16px rgba(0, 100, 239, 0.1); */
    /* background-color: rgba(226, 226, 255, 0.3); */
}
#col1 h1{
    color: #407BFF;
    font-weight: 900;
}

#col1 #text1{
    color: #407BFF;
}

::placeholder {
    font-size: small;
    padding: 1rem;
    height: 66px;
    width: 393px;
}

#inputGroupSelect01 {
    width: 20rem;
    height: 2.5rem;
}
#button {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 50px;
    padding-right: 50px;
}

#placeholder {
    height: 38px;
    width: 320px;
}

/* .input-group {
    border-radius: 10px;
} */

#inputGroupSelect02 {
    width: 6rem;
    height: 2.5rem;
    padding-left: 10%;
}
#col2 {
    background-color: white;
}

.replace {
    background-color:  #155183;
    color: white;
}

#output {
    background-color: #407BFF;
    color: white;
    font-weight: 900;
    border-radius: 20px;
}




@media (max-width: 575px) {
    #col2 img {
        display: none;
    }
}

#v-pills-tabContent {
    border-left: 1px solid black;
}

#v-pills-tab .active {
    background-color: rgb(197, 196, 196);
    
}
