#main .first-section{
    background-color: #FAFBFC;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #0064ef1a;
    margin-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
}

h1{
    color: #407BFF;
    font-weight: 800!important;
}

.blue{
    background: #407BFF;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 3% 10%;
}

img{
    margin-top: 15%!important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.blue h2{
    font-weight: 800!important;
    padding: 41px 0px 47px 0px;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    font-weight: 600;

}

hr{
    font-weight: 600;
    height: 2px !important;
    border-width:0!important;
    color:#263238!important;
    background-color:#263238!important;
    margin: 20px 0px!important;
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    body{
        text-align: center;
    }
    h1{
        margin-top: 25px!important;
    }
    img{
        display: none;
    }
    .blue{
        width: 250px;
        margin: 20px 0px;
    }
    .blue h2{
        font-weight: 800!important;
        padding: 41px 0px 47px 0px;
    }
}